/* src/components/Footer/Footer.module.css */
.footerContainer {
  background-color: #12110e;
  color: #a39c93;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  text-align: center;
  border-top: 1px solid #262421;

  flex-shrink: 0; /* 👈 Impede o navegador de achatar o rodapé */
}

@media (min-width: 48rem) {
  .footerContainer {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 5%;
    font-size: 0.85rem;
  }
}
