/* src/components/Layout/Layout.module.css */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Força a estrutura a ter exatamente o tamanho da tela do dispositivo */
  width: 100%;
  overflow: hidden; /* Evita rolagem dupla esquisita fora do SPA */
}
